<template>
  <div>
    <Tree :data="treeData" @nodeClick="nodeClick"></Tree>

    <van-dialog v-model:show="show" title="" :closeOnClickOverlay="true" :showConfirmButton="false">
      <div class="w-full">
        <div class="w-full h-[40px] flex justify-center items-center bg-[#F2F2F2]">
          <span class="w-1/2 text-center">费用名称</span>
          <span class="w-1/2 text-center">指导价(元)</span>
        </div>
        <div class="w-full h-[160px]" style="overflow-y: overlay;">
          <div class="w-full h-[40px] flex justify-center items-center border-b" v-for="item in 10" @click="show_ = true">
            <span class="w-1/2 text-center">1.2.1泥浆池围栏</span>
            <span class="w-1/2 text-center">215.00-234.00</span>
          </div>
        </div>
      </div>
    </van-dialog>

    <van-dialog class="w-[60%]" v-model:show="show_" title="" :closeOnClickOverlay="true" :showConfirmButton="false">
      <div class="w-full p-2 leading-8">
        <p>泥浆池围栏</p>
        <div class="w-full h-[160px]">
          <!-- <img class="w-full" src="https://fastly.jsdelivr.net/npm/@vant/assets/cat.jpeg" alt=""> -->
          <el-image src="https://fastly.jsdelivr.net/npm/@vant/assets/cat.jpeg" fit="fit" />

        </div>
        <p>计量单位：个</p>
        <p>计量方式：清单单价计量</p>
      </div>
    </van-dialog>
  </div>
</template>
<script setup>
import Tree from '../../components/tree/tree.vue'

const props = defineProps(['data'])
const data = computed(() => props.data)
const show = ref(false)
const show_ = ref(false)

const treeData = [
  {
    name: '江苏省',
    id: '1',
    children: [
      { name: '南京市', id: '1-1', children: [] },
      { name: '苏州市', id: '1-2', children: [] },
      {
        name: '常州市', id: '1-3', children: [
          { name: '武进区', id: '1-3-1' },
          { name: '钟楼区', id: '1-3-2' },
          { name: '新北区', id: '1-3-3' }
        ]
      }
    ]
  },
  {
    name: '浙江省',
    id: '2',
    children: [
      { name: '杭州市', id: '2-1', children: [] },
      { name: '宁波市', id: '2-2', children: [] },
      { name: '金华市', id: '2-3', children: [] }
    ]
  },
  {
    name: '安徽省',
    id: '3',
    children: [
      { name: '合肥市', id: '3-1', children: [] },
      { name: '芜湖市', id: '3-2', children: [] },
      { name: '宣城市', id: '3-3', children: [] }
    ]
  }
]

const nodeClick = (val) => {
  show.value = true
}
</script>