<template>
  <el-pagination background :current-page="page" :page-size="size" :page-sizes="sizes" :layout="layout" :total="total" @current-change="pageChange" @size-change="sizeChange" />
</template>
<script setup>
import props_ from './props'
const props = defineProps(props_)
const page = computed(() => props.page)
const size = computed(() => props.size)
const total = computed(() => props.total)
const sizes = computed(() => props.sizes)
const layout = computed(() => props.layout)
const pageChange = computed(() => props.pageChange)
const sizeChange = computed(() => props.sizeChange)
</script>