<template>
  <div class="w-screen h-screen">
    <div class="w-full h-full bg-[#EEF0F5]">
      <div class="w-full h-[42px]">

        <Head subText="清单管理" />
      </div>
      <div class="w-full h-[calc(100%-42px)] p-4">
        <div class="w-full h-full">
          <div class="w-full h-[70px] bg-white px-3 flex justify-between">
            <div class="w-1/2 h-full">
              <Search @initTable="initTable" />
            </div>
            <div class="w-1/2 h-full flex justify-end items-center">
              <el-button type="primary" plain @click="applyAddExpenseDetailDialogVisible = true">申请新增费用明细</el-button>
              <el-button type="primary" plain @click="expenseDetailApprovalDialogVisible = true">费用明细审批</el-button>
              <el-button type="primary" plain @click="directoryOperationsDialogVisible = true">目录编辑</el-button>
              <el-button type="primary" plain @click="onHandleDeleteList">删除</el-button>
              <el-button type="primary" plain @click="addExpenseDetailDialogVisible = true">新增</el-button>
              <el-button type="primary" plain @click="importAttachmentsDialogVisible = true">导入</el-button>
              <el-button type="primary" plain>导出</el-button>
              <el-button type="primary" plain @click="listRef.showName = true">恢复隐藏目录</el-button>
            </div>
          </div>

          <div class="w-full h-[calc(100%-86px)] bg-white mt-4 p-2">
            <div class="w-full h-[calc(100%-70px)]" style="overflow: hidden;">
              <List ref="listRef" />
            </div>
            <div class="w-full h-[70px] flex justify-end items-center">
              <Pagination :page="1" :size="10" :total="100" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 申请新增费用明细 -->
    <el-dialog v-model="applyAddExpenseDetailDialogVisible" title="申请新增费用明细" width="70%" :close-on-click-modal="false" :destroy-on-close="true">
      <div class="w-full">
        <ApplyAddExpenseDetailMain ref="applyAddExpenseDetaiRef" />
      </div>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="applyAddExpenseDetailDialogVisible = false">关闭</el-button>
          <el-button v-show="applyAddExpenseDetaiRef && applyAddExpenseDetaiRef.activeName == 'first'" type="primary" @click="onHandleApplyAddExpenseDetail">提交</el-button>
        </span>
      </template>
    </el-dialog>

    <!-- 费用明细审批 -->
    <el-dialog v-model="expenseDetailApprovalDialogVisible" title="费用明细审批" width="80%" :close-on-click-modal="false" :destroy-on-close="true">
      <div class="w-full">
        <ExpenseDetailApprovalMain ref="expenseDetailApprovalMainRef" />
      </div>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="expenseDetailApprovalDialogVisible = false">返回</el-button>
          <el-button v-show="expenseDetailApprovalMainRef && expenseDetailApprovalMainRef.activeName == 'first'" @click="onHandleRejectExpenseDetailApproval">驳回</el-button>
          <el-button v-show="expenseDetailApprovalMainRef && expenseDetailApprovalMainRef.activeName == 'first'" type="primary" @click="onHandleExpenseDetailApproval">审核通过</el-button>
        </span>
      </template>
    </el-dialog>

    <!-- 目录编辑 -->
    <el-dialog v-model="directoryOperationsDialogVisible" title="费用目录编辑" width="30%" :close-on-click-modal="false" :destroy-on-close="true">
      <div class="w-full">
        <DirectoryOperations />
      </div>
      <template #footer>
        <div class="flex justify-between items-center text-sm text-[#9d9d9d]">
          <span>鼠标右击可新增节点</span>
          <div class="dialog-footer">
            <el-button @click="directoryOperationsDialogVisible = false">关闭</el-button>
            <!-- <el-button type="primary">保存</el-button> -->
          </div>
        </div>
      </template>
    </el-dialog>

    <!-- 新增费用明细 -->
    <el-dialog v-model="addExpenseDetailDialogVisible" title="新增费用明细" width="75%" :close-on-click-modal="false" :destroy-on-close="true">
      <div class="w-full">
        <AddExpenseDetail ref="addExpenseDetaiRef" @finish="successCallback" />
      </div>
      <template #footer>
        <div class="flex justify-between">
          <span class="text-sm text-[#a8abb2]">
            *每次仅可针对一个目录新增费用明细
          </span>
          <span class="dialog-footer">
            <el-button @click="addExpenseDetailDialogVisible = false">关闭</el-button>
            <el-button type="primary" @click="onHandleAddExpenseDetail">保存</el-button>
          </span>
        </div>
      </template>
    </el-dialog>

    <!-- 批量导入 -->
    <el-dialog v-model="importAttachmentsDialogVisible" title="批量导入" width="25%" :close-on-click-modal="false" :destroy-on-close="true">
      <div class="w-full h-full">
        <BatchImport />
      </div>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="importAttachmentsDialogVisible = false">关闭</el-button>
          <el-button type="primary" @click="">保存</el-button>
        </span>
      </template>
    </el-dialog>
  </div>
</template>
<script setup>
import Head from '../../components/head.vue'
import Search from './components/search.vue'
// import List from './components/list.vue'
import List from './components/list_.vue'
import Pagination from '../../components/pagination/index.vue'
import ApplyAddExpenseDetailMain from './components/applyAddExpenseDetailMain.vue'
import ExpenseDetailApprovalMain from './components/expenseDetailApprovalMain.vue'
import DirectoryOperations from './components/directoryOperations.vue'
import AddExpenseDetail from './components/addExpenseDetail.vue'
import BatchImport from './components/batchImport.vue'
import messageBox from '@/utils/messageBox'
import { listCostDelete } from '../../api/listManage'

const listRef = ref(null)
const expenseDetailApprovalMainRef = ref(null)
const applyAddExpenseDetaiRef = ref(null)
const addExpenseDetaiRef = ref(null)

const applyAddExpenseDetailDialogVisible = ref(false)
const expenseDetailApprovalDialogVisible = ref(false)

const directoryOperationsDialogVisible = ref(false)
const addExpenseDetailDialogVisible = ref(false)

const importAttachmentsDialogVisible = ref(false)

const onHandleApplyAddExpenseDetail = () => {
  applyAddExpenseDetaiRef.value.submit()
}

const onHandleAddExpenseDetail = () => {
  addExpenseDetaiRef.value.submit()
}

// 费用明细审批
const onHandleExpenseDetailApproval = () => {
  expenseDetailApprovalMainRef.value.submit()
}

// 驳回费用明细审批
const onHandleRejectExpenseDetailApproval = () => {
  expenseDetailApprovalMainRef.value.onHandleRejectExpenseDetailApproval()
}


const successCallback = (res) => {
  messageBox.alert(res.msg, 'success')
  addExpenseDetailDialogVisible.value = false
  initTable()
}

//申请新增费用明细
const onHandleDeleteList = () => {
  if (listRef.value.selectionList.length == 0) {
    messageBox.alert('请至少选择一笔明细删除', 'warning')
  } else {
    messageBox.confirm('删除提示', '确认删除所选择的数据', () => {
      listCostDelete(listRef.value.selectionList).then(res => {
        messageBox.alert(res.msg, 'success')
        initTable()
      })
    })
  }
}

const initTable = (params) => {
  listRef.value.getListCostQuery(params)
}

</script>
