<template>
  <div class="w-screen h-screen flex-center"
    style="background-image: url('https://cloud.zhinengjianshe.com/assets/login-bg-2e259809-1695811720007.jpg');">
    <div class="w-[400px] h-[300px] border" style="background-color: #ffffff;">
      <div class="text-[#238BFE] text-2xl  flex justify-center p-t[30px]">安全经费</div>

      <div class="p-[40px]">
        <div class="w-[100%] h-[200px]  ">
          <el-form ref="ruleFormRef" :model="form" status-icon :rules="rulesLogin" label-width="auto"
            class="demo-ruleForm">
            <el-form-item label="账号" prop="username">
              <input class="w-100%" style="border-bottom: 1px solid #ebebeb;" v-model="form.username"
                autocomplete="off" />
            </el-form-item>
            <el-form-item class="p-t-[20PX]" label="密码" prop="password">
              <input class="w-100%" style="border-bottom: 1px solid #ebebeb;" v-model="form.password" type="password"
                autocomplete="off" />
            </el-form-item>
            <el-form-item class="w-[100%] p-t[30px]">
              <el-button class="w-[100%]" type="primary" @click="submitForm(ruleFormRef)">登录</el-button>
            </el-form-item>
          </el-form>
        </div>
      </div>

    </div>

  </div>
</template>

<script setup>
import { login } from "../../api/login"
import { useStore } from "@/store/store"
const store = useStore()
const ruleFormRef = ref(null)
const form = reactive({
  username: '1888888888',
  password: ''
})

const rulesLogin = ({
  username: [
    {
      required: true,
      message: '请输入账号',
      trigger: 'change',
    },
  ],
  password: [
    {
      required: true,
      message: '请输入密码',
      trigger: 'change',
    },
  ],
})


const submitForm = ()=>{
  ruleFormRef.value.validate((valid, fields) => {
    if (valid) {
      console.log('submit!')

     let logObj = {
       userName:'1888888888',
       projectId: "1234567890", 
       orgId: "32c4eda945384e5087804deb4d58701e" 
      }
      //登录接口
      login(logObj).then(res=>{
        store.updateToken(res.data)
      })


    } else {
      console.log('error submit!', fields)
    }
  })
}




</script>

<style scoped>
:deep(.el-input__wrapper) {

  border-radius: 0px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
  /* box-shadow:0 0 0 0 ; */
  /*outline: medium;*/
}

:deep(.el-form-item__label) {
  font-size: 16px;
  font-weight: 600;
}
:deep(.el-form-item__label::before){
  display: none;
}
</style>