<template>
    <div class="px-[20px]">
        <div class="pb-[20px] flex items-center justify-between">
            <!-- <div>
                <search tipstext="单位名称" @refreshName="roleRefreshName"></search>
            </div> -->
            <div>
              预警设置
            </div>
        </div>
        <div class="h-[calc(100vh-240px)]">

      
        </div>

    </div>
</template>

<script setup>

</script>

<style>

</style>
