<template>
    <div class="px-[20px]">
        <div class="pb-[20px] flex items-center justify-between">
            <div>
                <search tipstext="单位名称" @refreshName="roleRefreshName" v-model="roleName"></search>
            </div>
            <div>
                <el-button class="w-26" @click="addDialog('1')">新增</el-button>
            </div>
        </div>
        <div class="h-[calc(100vh-240px)]">
            <tTable :data="roleTableData" :columns="roleCols">

                <!-- 新增时间 -->
                <template #createTime="{ row }">
                    <div> {{ dayjs(row.createTime).format('YYYY-MM-DD') }}</div>
                </template>

                <!-- 更新时间 第一次会为null -->
                <template #updateTime="{ row }">

                    <div> {{ row.updateTime != null ? dayjs(row.updateTime).format('YYYY-MM-DD') : '' }}</div>
                </template>
                <!-- 操作 -->
                <template #operation="{ row }">
                    <el-button link style="color: #1890FF" @click="addDialog('2', row)">编辑</el-button>
                    <el-button link style="color: #1890FF" @click="gobind(row)">分配用户</el-button>
                    <el-button link style="color: #1890FF" @click="rootDialog(row)">绑定权限</el-button>
                    <el-button link style="color: #1890FF" @click="roleDelete(row.id)">删除</el-button>
                </template>
            </tTable>
        </div>
        <div class="flex justify-end">
            <toagination :total="total" :size="size" :page="page" :pageChange="paginChange" :sizeChange="sizeChange">
            </toagination>
        </div>

        <!-- 新增 or 编辑弹框 -->

        <el-dialog v-model="roledialogVisible" :title="roleTips" width="26%" :before-close="roleHandleClose" >
            <!-- <span>This is a message</span> -->
            <div>
                <roleaddordei ref="rolsarefs" :key="lineRow" :roleFormdata="lineRow"></roleaddordei>
            </div>

            <template #footer>
                <span class="dialog-footer">
                    <el-button @click="roleHandleClose">返回</el-button>
                    <el-button type="primary" @click="addroedifrom">
                        保存
                    </el-button>
                </span>
            </template>
        </el-dialog>


        <!-- 权限绑定 -->
        <el-dialog v-model="rootRoleDialog" title="权限绑定" width="26%" :before-close="rootRoleClose" destroy-on-close>

            <div style="height: 300px;overflow: auto;">
                <el-tree ref="rootTree" show-checkbox :data="dataTree" default-expand-all :props="defaultProps" node-key="id" />
            </div>
            <template #footer>
                <span class="dialog-footer">
                    <!-- <el-button @click="gotreea">回显事件</el-button> -->
                    <el-button @click="rootRoleDialog = false">返回</el-button>
                    <el-button type="primary" @click="rootaddroediTree">
                        保存
                    </el-button>
                </span>
            </template>
        </el-dialog>

        <!-- 角色绑定 -->
        <el-dialog v-model="roleRoleDialogbind" title="角色绑定用户" width="30%" :before-close="RoleClose" destroy-on-close>
            <roleBind @roleRoleDialogbind="roleRoleDialogbind = false" :roleinId=roleinId></roleBind>
            <template #footer>
                <!-- <span class="dialog-footer">
                
                    <el-button @click="roleRoleDialogbind = false">返回</el-button>
                    <el-button type="primary" @click="rootaddgobind">
                        保存
                    </el-button>
                </span> -->
            </template>
        </el-dialog>

    </div>
</template>

<script setup>
import search from '../../components/search/index.vue'
import tTable from "../../../../components/table/index.vue";
import toagination from '../../../../components/pagination/index.vue'
import messageBox from '../../../../utils/messageBox';
import { unitRoleList, unitRoleadd, unitRoleUpdet,unitRolebDelete,unitPermission,unitRoleListOwn,unitBind } from "../../../../api/setup.js";
import { resetForm } from '../../../../utils/globalMethods';
import roleBind from './rolebind.vue'
import roleaddordei from './roleaddordei.vue';
import dayjs from "dayjs"
import { onMounted, ref } from 'vue';

const rolsarefs = ref(null);

const page = ref(1)
const size = ref(10)
const total = ref(0)

const roleName = ref(null)

const lineRow = ref({})

const roleTips = ref('')
const roledialogVisible = ref(false)
const rootRoleDialog = ref(false)

const roleRoleDialogbind = ref(false)
const dataTree = ref(null)

const roleinId = ref(null) //每一行的id

const rootTree = ref(null)
const defaultProps = {
    children: 'children',
    label: 'name',
}

// 角色
const roleCols = [
    {
        label: '角色名称',
        prop: 'roleName',
        width: "300",

    },
    {
        label: '备注',
        prop: 'remark'
    },
    {
        label: '新增时间',
        prop: 'createTime',
        slot: true
    },
    {
        label: '更新时间',
        prop: 'updateTime',
        slot: true
    },
]
const roleTableData = ref([
    // {
    //     roleName: "角色1",
    //     remark: '备注',
    //     createTime: 2549067044000,
    //     updateTime: 1692064423000,
    //     id: '238864327',
    //     projectId: "123123", //项目id

    // },
    // {
    //     id: "123123123213", //角色id
    //     projectId: "123123", //项目id
    //     roleName: "新增用户角色", //角色名称
    //     remark: "2321312", //备注
    //     deleted: 0, //是否删除0未删除1已删除
    //     createId: "123456", //创建人id
    //     createTime: 2549067044000, //创建时间
    //     createName: "迪迦", //创建人姓名
    //     updateId: null, //修改人id
    //     updateTime: null, //修改时间
    //     updateName: null //修改人姓名
    // }
])


onMounted(() => {
    roleList()//角色列表
    gounitRoleListOwn()//所有的全限
})



//列表接口请求
const roleList = () => {

    let roleobj = {
        roleName: roleName.value,
        page: page.value,
        size: size.value
    }
    // console.info('🚀 ~ log:roleibj ----->', roleobj);
    // return
    unitRoleList(roleobj).then(res => {
        roleTableData.value = res.data
        total.value = res.total
    })

}


// 角色管理的搜索 与 重置
const roleRefreshName = (roleunitName) => {
    roleName.value = roleunitName
    roleList()
}

// 列表分页事件
const paginChange = (page_) => {
    console.log(page_)
    page.value = page_
    roleList()

}

const sizeChange = (size_) => {
    size.value = size_
    page.value = 1
    roleList()
}

// 添加弹框事件
const addDialog = (value_, row) => {

    if (value_ == "1") {
        roleTips.value = "新增角色"

    } else {
        roleTips.value = "编辑角色"
        // 获取这一条里面的row的内容

        //赋值给变量 然后在弹框的确定事件取值
        lineRow.value = row
        
        console.info('🚀 ~ log:row ----->',rolsarefs.value,  lineRow.value);

    }
    roledialogVisible.value = true

}
//关闭弹框事件 并清空表单的值 利用ref下的value来找组件里面的ref
const roleHandleClose = () => {
    // console.log();
    resetForm(rolsarefs.value.roleFormRef)
    roledialogVisible.value = false
}
// 新增or编辑角色
const addroedifrom = () => {

    rolsarefs.value.roleFormRef.validate((valid) => {
        if (valid) {
            if (roleTips.value == '新增角色') {

                let roleObj = {
                    projectId: "1234567890", //项目id
                    roleName: rolsarefs.value.roleForm.roleName, //角色名称
                    remark: rolsarefs.value.roleForm.roleRemark //备注
                }
                // console.info('🚀 ~ log:新增角色 ----->', roleObj);
                unitRoleadd(roleObj).then(res => {
                    messageBox.alert(res.msg, 'success')
                    roleList()
                })
                roledialogVisible.value = false

            } else {
                let roleobjdet = {
                    id: lineRow.value.id, //单位id
                    projectId: lineRow.value.projectId, //项目id
                    roleName: rolsarefs.value.roleForm.roleName, //角色名称
                    remark: rolsarefs.value.roleForm.roleRemark, //备注
                }
                // console.info('🚀 ~ log:编辑角色 ----->', roleobjdet);
                unitRoleUpdet(roleobjdet).then(res => {
                    messageBox.alert(res.msg, 'success')
                    roleList()
                })
                roledialogVisible.value = false

            }

        } else {
            console.log('error submit!')
            return false
        }
    })

}




// 获取所有的权限列表
const gounitRoleListOwn = ()=>{
    unitRoleListOwn().then(res =>{
        dataTree.value = res.data
    })
}
// 获取已绑定权限id集合 回显
const ownListTree = (id) => {
    unitPermission({roleId:id,projectId:'1234567890'}).then(res=>{
        if(res.data.length != 0 ){
            let rootList = res.data.map(item => ({ id: item }))
            rootTree.value.setCheckedNodes(rootList)
        }
    })

}
// 权限绑定弹框
const rootDialog = (row) => {
    roleinId.value = row.id
    ownListTree(row.id) //获取已绑定权限
    rootRoleDialog.value = true
    // rootTree.value.setCheckedNodes([],false)
}
const rootRoleClose = () => {
    rootRoleDialog.value = false
}
const rootaddroediTree = () => {
    let rootTreeon = rootTree.value.getCheckedNodes()
    let rootList = rootTreeon.map(items => { return items.id })

    let bindObj = {
        projectId: "1234567890", //项目id
        roleId: roleinId.value, //角色id
        permissionIds: rootList
    }
    // 如果不等于 0 就是选择了权限 
    if (rootList.length != 0) {
        unitBind(bindObj).then(res => {
            messageBox.alert(res.msg, 'success')
            rootRoleDialog.value = false
      })
    } else {
        messageBox.alert('请选择权限', 'warning')
    }
    

}


// 角色绑定
const gobind = (row) => {
    roleinId.value = row.id
    roleRoleDialogbind.value = true
}

const RoleClose = () => {
    roleRoleDialogbind.value = false
}

// 删除
const roleDelete = (id) => {
    roleinId.value = id
    messageBox.confirm('删除', "是否确认删除", okroleDelete, '')
}

const okroleDelete = () => {
    // console.info('🚀 ~ log:点击了确认删除 ----->', roleinId.value);

    unitRolebDelete({id:roleinId.value}).then(res=>{
        messageBox.alert(res.msg, 'success')
        roleList()//角色列表
    })
}


</script>

<style scoped></style>
