<template>
    <div class="">
        <el-form ref="roleFormRef" :model="roleForm" :rules="roleRules" label-width="90px" class="demo-ruleForm">
            <el-form-item label="角色名称" prop="roleName">
                <el-input v-model="roleForm.roleName" />
            </el-form-item>
            <el-form-item label="备注" prop="roleRemark">
                <el-input v-model="roleForm.roleRemark"  type="textarea" :autosize="{ minRows: 5, maxRows: 5}" />
            </el-form-item>
        </el-form>
    </div>
</template>

<script setup>

const roleForm = reactive({
    roleName: '',
    roleRemark: ''
})
const roleFormRef = ref(null)
const roleRules = {
    roleName: [
        { required: true, message: '请输入角色名称', trigger: 'change', }
    ]
}

const props = defineProps({
    roleFormdata: {
    type: Object,
  }
})
const lineRow = computed(() => props.roleFormdata) //每一行的数据 
roleForm.roleName = lineRow.value.roleName
roleForm.roleRemark = lineRow.value.remark


defineExpose({
    roleForm,
    roleFormRef,
    roleRules
})
</script>

<style scoped>
.el-form-item {
  margin-bottom: 18px;
}
</style>
