<template>
  <div class="w-full h-full">
    <div class="w-full h-full bg-white">
      <div class="">
        <el-tabs v-model="bindIndex" class="demo-tabs" @tab-change="handleBindClick">
          <el-tab-pane name="1">
            <template #label>
              <div class="px-[20px]">
                未绑定 ({{ tobNuber.noneBind }})
              </div>

            </template>
          </el-tab-pane>
          <el-tab-pane name="2">
            <template #label>
              <div class="px-[20px]">
                已绑定 ({{ tobNuber.alreadyBind }})
              </div>
            </template>
          </el-tab-pane>



        </el-tabs>
      </div>

      <!-- 内容 -->
      <div>
        <div class="pb-[10px] pl-[10px] flex items-center justify-between">
          <div class="w-[40%]">
            <Search :key="bindIndex" :refreshLeft="false" tipstext="请输入" @refreshName="bindSearch"></Search>
          </div>
          <div class="flex items-center justify-between">
            <div>单位</div>
            <div>
              <el-select v-model="bindOptionsvalue" class="m-2" placeholder="请选择" @change="gorolebUnit()" clearable>
                <el-option v-for="item in bindOptions.bindOptionsList" :key="item.id" :label="item.name" :value="item.id">
                  <template #default>
                    <el-tooltip class="box-item" effect="dark" :content="item.name" placement="right">
                      {{ item.name }}
                    </el-tooltip>

                  </template>
                </el-option>

              </el-select>
            </div>
          </div>


        </div>
        <!-- -->
        <el-table  ref="multipleTableRef" :data="bindData" style="width: 100%"  @selection-change="handleSelectionChange">
          <el-table-column type="selection" width="55" />
          <el-table-column align="center" label="姓名" width="80">
            <template #default="scope">{{ scope.row.fullName }}</template>
          </el-table-column>
          <el-table-column align="center" property="idNo" label=" 身份证号" width="150" />
          <el-table-column align="center" property="orgName" label="单位" width="120" />
          <el-table-column align="center" property="postName" label=" 岗位" show-overflow-tooltip />
        </el-table>
        <div class="flex pt-[20px] justify-between">
          <div class="w-[200px]">
            <pagination layout="prev, pager, next" :total="total" :size="size" :page="page" :pager-count="5" :pageChange="bindpaginChange">
            </pagination>
          </div>

          <div>
            <!--   = false" -->
            <!-- @click="rootaddroediTree" -->
            <el-button @click="roleRoleDialogbind">返回</el-button>
            <el-button v-if="bindIndex == 2" type="primary" @click="rootaddgobind('2')">解绑</el-button>
            <el-button v-else type="primary" @click="rootaddgobind('1')">绑定</el-button>
          </div>

        </div>
      </div>



    </div>
  </div>
</template>

<script setup>
// import { reactive } from 'vue';
import Search from '../search/index.vue';
import messageBox from '../../../../utils/messageBox';
import pagination from '../../../../components/pagination/index.vue';
import { unitRolebindList, unitRolebrienameList,unitRoleBind } from "../../../../api/setup";
import { onMounted, reactive, ref } from 'vue';

const props = defineProps({
  roleinId: {
    type: String,
  }
})
const roleinId = computed(() => props.roleinId) //每一行的id


const bindIndex = ref('1')
const page = ref(1)
const size = ref(10)
const total = ref(0)
const fullName = ref('')

const tobNuber = reactive({
  noneBind: '0',
  alreadyBind: '0'
})

const personnelList = ref([])
const bindOptions = reactive({  //单位
  bindOptionsList: [
    // {
    //         orgname: '测试单位1',
    //          id: '1',
    //     },
    //     {
    //         orgname: '测试单位2',
    //          id: '2',
    //     },
  ]
})
const bindOptionsvalue = ref('')

const bindData = ref([])

onMounted(() => {
  gobindOptions() //获取单位的接口
  rolebList('1')
  rolebList('2')
})

//角色绑定的用户
const rolebList = (type) => {
  let roleObj = {
    page: page.value, //页数
    size: size.value, //每页数量
    type: type, //查询类型1.未绑定2.已绑定
    fullName: fullName.value, //用户名称
    roleId: roleinId.value, //角色id
    projectId: '1234567890', //项目id //就是单位id
    orgId: bindOptionsvalue.value
  }
  // 判断头部tab页面赋值页面总数
  // if (bindIndex.value == '1') {
  //   total.value = 40
  // } else {
  //   total.value = 70
  // }


  unitRolebindList(roleObj).then(res => {
    if (type == 1) {
    tobNuber.noneBind = res.total //未绑定总数
    total.value = res.total
    bindData.value = res.data //数据
  } else {
    tobNuber.alreadyBind = res.total //已绑定总数
    // type == 2已绑定  点击tab的在赋值数据源
    if (type == 2 && bindIndex.value==2) {
      if (res.data.length > 0) {
        bindData.value = res.data //数据 
        total.value = res.total  
      }else{
        bindData.value = []
      }
    }
   
  }
    // console.info('🚀 ~ log:res.data ----->',res.total);
  })
}

// tab的点击事件
const handleBindClick = (index) => {
  page.value = 1
  fullName.value = ''
  bindOptionsvalue.value = ''
  // 根据不通的 tab 来切换不同的参数
  rolebList(index)
  console.info('🚀 ~ log:tab的点击时事件 ----->', bindOptionsvalue);


}

// 分页
// const bondsizeChange = (size_) => {
//     console.log(size_,"size")
//     size.value = size_
// }

const bindpaginChange = (page_) => {
  page.value = page_
  rolebList(bindIndex.value)
  console.log(page.value, size.value, 'page_')
}

const handleSelectionChange = (vale) => {
  personnelList.value = vale
}

const bindSearch = (vale) => {
  fullName.value = vale
  rolebList(bindIndex.value)
}

const emit = defineEmits(['roleRoleDialogbind'])
// 返回和确定
const roleRoleDialogbind = () => {
  bindIndex.value = '1'
  emit('roleRoleDialogbind')
}

// 绑定弹框
const rootaddgobind = (keyType) => {
  // 没有选中人员的话记得判空
  if (personnelList.value.length != 0) {
    messageBox.confirm('绑定', "是否确认绑定", () =>{
      rootaddgobindadd(keyType)
    }, '')

  } else {
    messageBox.alert('请选择人员', 'warning')
    
  }

}

const rootaddgobindadd = (keyType)=>{
  let userbindobj = {
      projectId: '1234567890',
      roleId:roleinId.value,
      type:keyType, //绑定类型1绑定2解绑
      userIds:[]
    }
   userbindobj.userIds = personnelList.value.map(item => { return item.userId })
    // 角色绑定给人

    // console.info('🚀 ~ log:userbi ----->',userbindobj);
    unitRoleBind(userbindobj).then(res =>{
      messageBox.alert(res.msg, 'success')
      rolebList('1')
      rolebList('2')
      // emit('roleRoleDialogbind')
    })
  
}


// 获取单位的接口
const gobindOptions = () => {
  unitRolebrienameList({projectId:'1234567890'}).then(res => {
    bindOptions.bindOptionsList =res.data 
  })
}

const gorolebUnit = () => {
  rolebList(bindIndex.value)
  console.info('🚀 ~ log:value单位选择的内容 ----->', bindOptionsvalue.value);
}
</script>

<style scoped></style>
