
<template>
  <div>
    <div class="flex items-center">
      <span>费用明细：</span>
      <el-tree-select v-model="safeListId" :data="treeList" :render-after-expand="false" :props="defaultProps" />
    </div>
    <div class="select mt-2">
      <Table :columns="columns" :data="tableData" :serial="false">
        <template #name="{ row }">
          <div>
            <el-input v-model="row.name" maxlength="50" placeholder="请输入子目名称" />
          </div>
        </template>
        <template #minPrice="{ row }">
          <div>
            <el-input-number v-model="row.minPrice" :controls="false" :min="0" :max="row.maxPrice ? row.maxPrice : 9999999" placeholder="请输入最低指导价" />
          </div>
        </template>
        <template #maxPrice="{ row }">
          <div>
            <el-input-number v-model="row.maxPrice" :controls="false" :min="row.minPrice" placeholder="请输入最高指导价" />
          </div>
        </template>
        <template #unitMeasure="{ row }">
          <div>
            <el-input v-model="row.unitMeasure" placeholder="请输入单位" />
          </div>
        </template>
        <template #measureType="{ row }">
          <div>
            <el-select v-model="row.measureType" placeholder="请选择计量方式" multiple collapse-tags>
              <el-option v-for="item in MEASURE_TYPE" :key="item.value" :label="item.label" :value="item.value" />
            </el-select>
          </div>
        </template>
        <template #fileIds="{ row, index }">
          <el-upload v-if="row.fileIds.length == 0" :show-file-list="false" accept=".jpg,.png,.jpeg" class="flex justify-center items-center text-[#a5a5a5] cursor-pointer" v-model="row.fileIds"
            :data="{ index }" action="#" :before-upload="beforeUpload" :http-request="httpRequest">
            <el-button type="primary" link icon="upload">上传</el-button>
          </el-upload>
          <div v-else>
            <el-button type="primary" link>查看</el-button>
            <!-- <el-button type="danger" link icon="close" /> -->
          </div>
        </template>
        <template #remark="{ row }">
          <div>
            <el-input v-model="row.remark" placeholder="请输入备注" maxlength="200" />
          </div>
        </template>
        <template #operation="{ row, column, index }">
          <div>
            <el-button type="danger" link @click="delData(index)">
              <el-icon>
                <Delete />
              </el-icon>
            </el-button>
          </div>
        </template>
      </Table>
      <el-button type='primary' link class="mt-3" @click="addData">新增行</el-button>
    </div>
  </div>
</template>
<script setup>
import Table from '../../../components/table/index.vue'
import { MEASURE_TYPE } from '../../../constant/common'
import messageBox from '@/utils/messageBox'
import { listQuery, costAddBatch } from '../../../api/listManage'
import { fileUpload } from '../../../api/common'

const safeListId = ref()
const treeList = ref([])
const currentUploadIndex = ref(null)
const emit = defineEmits('finish')
const props = defineProps(['addExpenseDetailDialogVisible'])
const addExpenseDetailDialogVisible = computed(() => props.addExpenseDetailDialogVisible)
const columns = [
  { label: '*费用明细名称', prop: 'name', slot: true },
  { label: '*最低指导价', prop: 'minPrice', width: 120, slot: true },
  { label: '*最高指导价', prop: 'maxPrice', width: 120, slot: true },
  { label: '*计量单位', prop: 'unitMeasure', width: 120, slot: true },
  { label: '计量方式', prop: 'measureType', slot: true },
  { label: '示意图', prop: 'fileIds', width: 120, slot: true },
  { label: '备注', prop: 'remark', slot: true },
]

const defaultProps = {
  label: 'name',
  value: 'id'
}

const a = {
  name: '',
  minPrice: 0,
  maxPrice: 0,
  unitMeasure: '',
  measureType: [],
  fileIds: [],
  remark: '',
}

const tableData = ref([Object.assign({}, a)])

const addData = () => {
  tableData.value.push(Object.assign({}, Object.assign({}, a)))
}

const delData = (index) => {
  tableData.value.splice(index, 1)
}

const beforeUpload = (file) => {
  const allowableFormatList = ['image/jpeg', 'image/jpg', 'image/png']
  const allowableSize = 1024 * 1024 * 20
  if (!allowableFormatList.includes(file.type)) {
    messageBox.alert('仅支持上传jpg、jpeg、png格式的图片', 'warning')
    return
  }
  if (file.size > allowableSize) {
    messageBox.alert('图片大小不可大于20MB', 'warning')
    return
  }
}

const httpRequest = (file) => {
  const formData = new FormData()
  formData.append('projectId', '1234567890')
  formData.append('orgId', '')
  formData.append('file', file.file)
  formData.append('moduleName', 'aqjf')
  fileUpload(formData).then(res => {
    const { fileName, filePath, id } = res.data
    tableData.value[file.data.index].fileIds = [{ fileName, filePath, id }]
  })
}

//校验数据完整性
const checkNonEmpty = (obj) => {
  return obj.name && obj.minPrice && obj.maxPrice && obj.unitMeasure
}

const submit = () => {
  const data = tableData.value
  if (!safeListId.value) {
    messageBox.alert('请选择费用明细', 'warning')
  } else if (data.length == 0) {
    messageBox.alert('请至少添加一笔费用明细', 'warning')
  } else if (!data.every(checkNonEmpty)) {
    messageBox.alert('请完善表格信息', 'warning')
  } else {
    const submitData = data.map(item => {
      return {
        ...item,
        ...{
          projectId: '1234567890',
          safeListId: safeListId.value,
          measureType: item.measureType.join(','),
          fileIds: item.fileIds.map(file => { return file.id })
        }
      }
    })
    costAddBatch(submitData).then(res => {
      emit('finish', res)
    })
  }
}

onMounted(() => {
  listQuery('1234567890').then(res => {
    treeList.value = res.data
  })
})

defineExpose({ submit })
</script>
<style scoped>
:deep(.select .el-input__wrapper) {
  background-color: unset !important;
  border: unset !important;
  box-shadow: unset !important;
}

:deep(.is-focus) {
  border: unset !important;
  box-shadow: unset !important;
}

:deep(.el-input .el-input--large) {
  border: unset !important;
}

:deep(.el-table__cell) {
  padding: unset !important;
}

:deep(.el-table__header) {
  height: 40px;
}

:deep(.el-table__row) {
  height: 40px !important
}
</style>