<template>
  <div class="w-full h-full">
    <Table :columns="columns" :data="tableList" :serial="false">
      <template #fileIds="{ row, column, index }">
        <div>
          <el-button v-if="row.urls" type="primary" link>查看</el-button>
          <span v-else>-</span>
        </div>
      </template>
      <template #auditStatus="{ row, column, index }">
        <span>{{ STATUS_TYPE_OBJ[row['auditStatus']] }}</span>
      </template>
      <template #operation="{ row, column, index }">
        <div>
          <el-button type="primary" link @click="withDrawApply">撤回</el-button>
          <!-- <el-button type="primary" link>查看</el-button> -->
        </div>
      </template>
    </Table>
  </div>
</template>
<script setup>
import Table from '../../../components/table/index.vue'
import messageBox from '@/utils/messageBox'
import { listApplyQuery } from '@/api/listManage'
import { STATUS_TYPE_OBJ } from '@/constant/common'

const tableList = ref([])
const columns = [
  { label: '费用细目', prop: 'nodeName' },
  { label: '费用名称', prop: 'name' },
  { label: '计量单位', prop: 'unitMeasure' },
  { label: '示意图', prop: 'fileIds', width: 100, slot: true },
  { label: '规格或执行标准', prop: 'remark' },
  { label: '状态', prop: 'auditStatus', width: 100, slot: true },
  { label: '提交时间', prop: 'createTime' },
]

// 撤回申请
const withDrawApply = () => {
  messageBox.confirm('撤回提示', '是否确认撤回申请', () => {

  })
}

const initTable = () => {
  const data = {
    page: 1,
    size: 10,
    status: '2',
    orgId: '',
    projectId: '1234567890',
    name: ''
  }
  listApplyQuery(data).then(res => {
    tableList.value = res.data
  })
}

onMounted(() => {
  initTable()
})
</script>
<style scoped>
:deep(.is-active) {
  background: #F2F2F2;
  color: unset;
}

:deep(.el-tabs__item:hover) {
  color: unset;
}
</style>