<template>
  <div class="w-full h-full">
    <Table :columns="columns" :data="tableData" :serial="false">
      <template #safeListId="{ row }">
        <el-tree-select v-model="row.safeListId" :data="treeList" :props="defaultProps" clearable :render-after-expand="false" />
      </template>
      <template #name="{ row }">
        <div>
          <el-input v-model="row.name" placeholder="请输入名称" />
        </div>
      </template>
      <template #unitMeasure="{ row }">
        <div>
          <el-input v-model="row.unitMeasure" placeholder="请输入计量单位" />
        </div>
      </template>
      <template #fileIds="{ row, index }">
        <el-upload v-if="row.fileIds.length == 0" class="flex justify-center items-center text-[#a5a5a5] cursor-pointer" v-model="row.fileIds" :show-file-list="false" accept=".jpg,.png,.jpeg"
          :data="{ index }" action="#" :before-upload="beforeUpload" :http-request="httpRequest">
          <el-button type="primary" link icon="upload">上传</el-button>
        </el-upload>
        <div v-else>
          <el-button type="primary" link>查看</el-button>
        </div>
      </template>
      <template #remark="{ row }">
        <div>
          <el-input v-model="row.remark" placeholder="请输入备注" />
        </div>
      </template>
      <template #operation="{ row, column, index }">
        <div>
          <el-button type="danger" link @click="delNew(index)">
            <el-icon>
              <Delete />
            </el-icon>
          </el-button>
        </div>
      </template>
    </Table>
    <el-button type='primary' link class="mt-3" @click="addNew">新增行</el-button>
  </div>
</template>
<script setup>
import Table from '../../../components/table/index.vue'
import messageBox from '../../../utils/messageBox'
import { listQuery } from '../../../api/listManage'
import { fileUpload } from '../../../api/common'

const treeList = ref([])
const defaultProps = {
  label: 'name',
  value: 'id'
}
const columns = [
  { label: '*费用明细', prop: 'safeListId', slot: true },
  { label: '*费用名称', prop: 'name', slot: true },
  { label: '*计量单位', prop: 'unitMeasure', slot: true },
  { label: '示意图', prop: 'fileIds', width: 120, slot: true },
  { label: '规格或执行标准', prop: 'remark', slot: true },
]

const initData = {
  safeListId: '',  //费用明细
  name: '',  //费用名称
  unitMeasure: '',  //计量单位
  fileIds: [],  //示意图
  remark: '',  //备注
  projectId: '1234567890'
}

const tableData = ref([Object.assign({}, initData)])

const addNew = () => {
  if (tableData.value.length >= 10) {
    messageBox.alert('一次最多只可新增10笔数据', 'warning')
    return
  }
  tableData.value.push(Object.assign({}, initData))
}

const delNew = (index) => {
  tableData.value.splice(index, 1)
}

const beforeUpload = (file) => {
  const allowableFormatList = ['image/jpeg', 'image/jpg', 'image/png']
  const allowableSize = 1024 * 1024 * 20
  if (!allowableFormatList.includes(file.type)) {
    messageBox.alert('仅支持上传jpg、jpeg、png格式的图片', 'warning')
    return
  }
  if (file.size > allowableSize) {
    messageBox.alert('图片大小不可大于20MB', 'warning')
    return
  }
}

const httpRequest = (file) => {
  const formData = new FormData()
  formData.append('projectId', '1234567890')
  formData.append('orgId', '')
  formData.append('file', file.file)
  formData.append('moduleName', 'aqjf')
  fileUpload(formData).then(res => {
    const { fileName, filePath, id } = res.data
    tableData.value[file.data.index].fileIds = [{ fileName, filePath, id }]
  })
}

defineExpose({ tableData })

onMounted(() => {
  listQuery('1234567890').then(res => {
    treeList.value = res.data
  })
})


</script>
<style scoped>
:deep(.is-active) {
  background: #F2F2F2;
  color: unset;
}

:deep(.el-tabs__item:hover) {
  color: unset;
}

:deep(.el-input__wrapper) {
  background-color: unset !important;
  border: unset !important;
  box-shadow: unset !important;
}

:deep(.is-focus) {
  border: unset !important;
  box-shadow: unset !important;
}

:deep(.el-input .el-input--large) {
  border: unset !important;
}

:deep(.el-table__cell) {
  padding: unset !important;
}

:deep(.el-table__header) {
  height: 40px;
}

:deep(.el-table__row) {
  height: 40px !important
}
</style>