<template>
  <div class="w-full h-full">
    <el-tabs v-model="activeName" type="card" class="demo-tabs">
      <el-tab-pane label="待申请" name="first">
        <ApplyAddExpenseDetailPending v-if="activeName == 'first'" ref="pendingRef" />
      </el-tab-pane>
      <el-tab-pane label="已提交" name="second">
        <ApplyAddExpenseDetailSubmit v-if="activeName == 'second'" ref="applyAddExpenseDetailSubmitRef" />
      </el-tab-pane>
    </el-tabs>
  </div>
</template>
<script setup>
import ApplyAddExpenseDetailPending from './applyAddExpenseDetailPending.vue'
import ApplyAddExpenseDetailSubmit from './applyAddExpenseDetailSubmit.vue'
import messageBox from '@/utils/messageBox'
import { listApplyAdd } from '@/api/listManage'

const activeName = ref('first')
const pendingRef = ref(null)
const applyAddExpenseDetailSubmitRef = ref(null)

const checkNonEmpty = (obj) => {
  return obj.safeListId && obj.name && obj.unitMeasure;
}

const submit = () => {
  let data = pendingRef.value.tableData
  if (data.length == 0) {
    messageBox.alert('请至少添加一笔数据', 'warning')
  } else if (!data.every(checkNonEmpty)) {
    messageBox.alert('请完善信息', 'warning')
  } else {
    data = data.map(item => { return { ...item, ...{ fileIds: item.fileIds.map(file => { return file.id }) } } })
    listApplyAdd(data).then(res => {
      messageBox.alert(res.msg, 'success')
      applyAddExpenseDetailSubmitRef.value.initTable()
    })
  }
}

defineExpose({ activeName, submit })
</script>
<style scoped>
:deep(.is-active) {
  background: #F2F2F2;
  color: unset;
}

:deep(.el-tabs__item:hover) {
  color: unset;
}
</style>