<template>
  <div class="w-full h-full">
    <p class="bg-[#F2F2F2] px-6 py-5">请<span class="text-[#409EFF] cursor-pointer">下载模板附件</span>，按照附件的格式填写后上传，相同细目下同名的费用名称将被更新</p>
    <div class="flex items-center mt-2">
      <el-upload :show-file-list="false" :before-upload="beforeUpload" :http-request="httpRequest">
        <p class="w-[100px] h-[40px] bg-[#027DB4] text-white flex justify-center items-center cursor-pointer">选择文件</p>
      </el-upload>
      <div v-show="fileBlob" class="name w-[70%] flex justify-between items-center cursor-pointer">
        <span class="w-[80%] truncate ml-5">{{ fileName }}</span>
        <CircleCloseFilled class="del w-[16px] cursor-pointer hidden" @click="resetFile" />
      </div>
    </div>
  </div>
</template>
<script setup>
const fileName = ref(null)
const fileBlob = ref(null)

const beforeUpload = (file) => {
}
const httpRequest = (file) => {
  fileName.value = file.file.name
  fileBlob.value = file.file
}

const resetFile = () => {
  fileName.value = null
  fileBlob.value = null
}
</script>
<style scoped>
.name:hover .del {
  display: unset !important;
}
</style>