<template>
  <div class="customScroll relative h-[300px] border" style="overflow-y: overlay;" @contextmenu.prevent.native="rightClick($event)">
    <el-tree ref="treeRef" :data="treeList" node-key="id" :props="defaultProps" highlight-current @node-click="nodeClick" @node-contextmenu="handleRightNodeClick">
      <template #default="{ node, data }">
        <span>{{ data.node }}</span>
        <span class="ml-1">{{ data.name }}</span>
      </template>
    </el-tree>
    <div v-show="addVisibleType == 2" id="menu" class="absolute border border-b-0 bg-white">
      <!-- <div class="add w-[100px] h-[35px] bg-white border-b flex justify-center items-center cursor-pointer" @click="addDialogVisible = true">新增节点</div> -->
      <div class="add w-[100px] h-[35px] bg-white border-b flex justify-center items-center cursor-pointer" @click="onHandleAddChildNode">新增子节点</div>
      <div class="add w-[100px] h-[35px] bg-white border-b flex justify-center items-center cursor-pointer" @click="onHandleEditNode">编辑节点</div>
      <div class="add w-[100px] h-[35px] bg-white border-b flex justify-center items-center cursor-pointer" @click="removeNode">删除节点</div>
    </div>

    <div v-show="addVisibleType == 1" id="menu_" class="absolute border border-b-0 bg-white">
      <div class="add w-[100px] h-[35px] bg-white border-b flex justify-center items-center cursor-pointer" @click="addDialogVisible = true">新增节点</div>
    </div>

    <!-- 新增、编辑对话框 -->
    <el-dialog v-model="addDialogVisible" :title="addForm.id ? '编辑节点' : '新增节点'" width="20%" :close-on-click-modal="false" :destroy-on-close="true" @close="resetForm(addRef)">
      <div class="w-full">
        <el-form :model="addForm" label-width="120px" :rules="addFormRules" ref="addRef">
          <!-- <el-form-item label="排序" prop="sort">
            <el-input class="w-[100px]" v-model="addForm.sort" />
          </el-form-item> -->
          <el-form-item label="节点序号" prop="node">
            <el-input class="w-[100px]" v-model="addForm.node" />
          </el-form-item>
          <el-form-item label="节点名称" prop="name">
            <el-input v-model="addForm.name" />
          </el-form-item>
        </el-form>
      </div>
      <template #footer>
        <div class="dialog-footer">
          <el-button @click="addDialogVisible = false">关闭</el-button>
          <el-button type="primary" @click="onHandleSubmit">保存</el-button>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script setup>
import { resetForm } from '../../../utils/globalMethods'
import messageBox from '../../../utils/messageBox'
import { listQuery, listAdd, listDelete, listDetail, listUpdate } from '../../../api/listManage'

const addVisibleType = ref(null)
const addDialogVisible = ref(false)
const addForm = reactive({})
const addRef = ref(null)
const treeRef = ref(null)
const treeList = ref([])
const currentNodeData = reactive({})
const addFormRules = {
  sort: [{ required: true, message: '请输入排序', trigger: 'blur' }],
  node: [{ required: true, message: '请输入节点序号', trigger: 'blur' }],
  name: [{ required: true, message: '请输入节点名称', trigger: 'blur' }],
}

//新增子节点
const onHandleAddChildNode = () => {
  Object.keys(addForm).map(key => {
    delete addForm[key]
  })
  addDialogVisible.value = true
}

//编辑节点
const onHandleEditNode = () => {
  listDetail(currentNodeData.id).then(res => {
    const { id, projectId, node, name, parentId, level } = res.data
    Object.assign(addForm, { id, projectId, node, name, parentId, level })
  })
  addDialogVisible.value = true
}

// 删除节点
const removeNode = () => {
  messageBox.confirm('删除节点', '是否确认删除该节点？', () => {
    listDelete(currentNodeData.id).then(res => {
      messageBox.alert(res.msg, 'success')
      initTree()
    })
  })
}

const rightClick = (e) => {
  Object.keys(currentNodeData).map(key => {
    delete currentNodeData[key]
  })
  treeRef.value.setCurrentKey(null)
  addVisibleType.value = 1
  const menu = document.getElementById('menu_')
  menu.style.top = e.layerY - 2 + 'px'
  menu.style.left = e.layerX - 2 + 'px'
}

const defaultProps = {
  label: 'name',
  value: 'id'
}

const nodeClick = (node) => {
  if (!node.children) {
    Object.assign(currentNodeData, node)
  }
}

const handleRightNodeClick = (e, data, c, d) => {
  // if (!data.children) {
  Object.assign(currentNodeData, data)
  treeRef.value.setCurrentKey(data.id)
  addVisibleType.value = 2
  const menu = document.getElementById('menu')
  menu.style.top = e.layerY - 1 + 'px'
  menu.style.left = e.layerX - 1 + 'px'
  // }
}

const onHandleSubmit = () => {
  addRef.value.validate((valid) => {
    if (valid) {
      if (addForm.id) {
        submitUpdate()
      } else {
        submitAdd()
      }
    }
  })
}

const submitAdd = () => {
  const data = {
    ...addForm,
    projectId: '1234567890',
    level: currentNodeData.level ? (Number(currentNodeData.level) + 1).toString() : '1',
    parentId: currentNodeData.id || '-1',
  }
  listAdd(data).then(res => {
    messageBox.alert(res.msg, 'success')
    addDialogVisible.value = false
    initTree()
  })
}
const submitUpdate = () => {
  listUpdate(addForm).then(res => {
    messageBox.alert(res.msg, 'success')
    addDialogVisible.value = false
    initTree()
  })
}

const initTree = () => {
  listQuery('1234567890').then(res => {
    treeList.value = res.data
    Object.keys(currentNodeData).map(key => {
      delete currentNodeData[key]
    })
  })
}

onMounted(() => {
  document.getElementById('menu').addEventListener('mouseleave', function (event) {
    addVisibleType.value = null
  });

  document.getElementById('menu_').addEventListener('mouseleave', function (event) {
    addVisibleType.value = null
  });

  initTree()
})
</script>
<style scoped>
.add:hover {
  background: #c2dcf7;
}

:deep(.el-form-item) {
  margin-bottom: 18px;
}
</style>