<template>
  <div>
    <el-form :model="form" label-width="100px" :rules="rules" ref="formRef">
      <el-form-item label="目录序号" required>
        <el-col class="flex items-center" :span="4" v-for="(sort, index) in nodeParentSortList" :key="index">
          <el-col :span="16">
            <el-form-item>
              <el-input-number disabled :model-value="sort" :controls="false" />
            </el-form-item>
          </el-col>
          <el-col :span="8" class="flex justify-center">
            <div class="w-[5px] h-[5px] bg-[#7F7F7F] rounded-[100%]"></div>
          </el-col>
        </el-col>
        <el-col :span="3">
          <el-form-item prop="sort">
            <el-input v-model="form.sort" />
          </el-form-item>
        </el-col>
      </el-form-item>
      <el-col :span="22">
        <el-form-item label="费用明细" prop="name" required>
          <el-input v-model="form.name" maxlength="50" />
        </el-form-item>
      </el-col>
      <el-form-item label="费用指导价" required>
        <el-col :span="6">
          <el-form-item prop="minPrice">
            <el-input-number v-model="form.minPrice" :controls="false" :min="0" :max="form.maxPrice ? form.maxPrice : 9999999" />
          </el-form-item>
        </el-col>
        <el-col :span="4" class="flex justify-center">
          至
        </el-col>
        <el-col :span="6">
          <el-form-item prop="maxPrice">
            <el-input-number v-model="form.maxPrice" :controls="false" :min="form.minPrice" />
          </el-form-item>
        </el-col>
      </el-form-item>
      <el-col :span="22">
        <el-form-item label="计量单位">
          <el-input v-model="form.unitMeasure" />
        </el-form-item>
      </el-col>
      <el-col :span="22">
        <el-form-item label="计量方式">
          <el-checkbox-group v-model="form.measureType">
            <el-checkbox v-for="item in MEASURE_TYPE" :key="item.value" :label="item.value">{{ item.label }}</el-checkbox>
          </el-checkbox-group>
          <!-- <el-radio-group v-model="form.measureType" class="ml-4">
            <el-radio label="1" size="large">清单单价计量</el-radio>
            <el-radio label="2" size="large">据实计量</el-radio>
            <el-radio label="3" size="large">总价包干</el-radio>
          </el-radio-group> -->
        </el-form-item>
      </el-col>
      <el-col :span="22">
        <el-form-item label="备注">
          <el-input v-model="form.remark" type="textarea" />
        </el-form-item>
      </el-col>
    </el-form>
  </div>
</template>
<script setup>
import { listCostDetail, listCostUpdate } from '../../../api/listManage'
import { MEASURE_TYPE } from '@/constant/common'

const props = defineProps(['updateId'])
const updateId = computed(() => props.updateId)
const formRef = ref(null)
const nodeParentSortList = ref([])
const emit = defineEmits('successCallback')

const form = reactive({
  sort: '',
  name: '',
  minPrice: '',
  maxPrice: '',
  unitMeasure: '',
  measureType: [],
  remark: '',
})

const rules = {
  sort: [
    { required: true, message: '必填项', trigger: 'blur' },
  ],
  name: [
    { required: true, message: '请输入费用明细', trigger: 'blur' },
  ],
  minPrice: [
    { required: true, message: '请输入最低指导价', trigger: 'blur' },
  ],
  maxPrice: [
    { required: true, message: '请输入最高指导价', trigger: 'blur' },
  ],
}

const submit = () => {
  formRef.value.validate((valid) => {
    if (valid) {
      const data = {
        ...form,
        projectId: '1234567890'
      }
      data.node = nodeParentSortList.value.join('.') + `.${data.sort}`
      data.measureType = data.measureType.join(',')
      listCostUpdate(data).then(res => {
        emit('successCallback', res)
      })
    }
  })
}

defineExpose({ submit })

onMounted(() => {
  listCostDetail(updateId.value).then(res => {
    let nodeSortFilterList = res.data.node.split('.')
    nodeSortFilterList.pop()
    nodeParentSortList.value = nodeSortFilterList
    const measureType = res.data.measureType ? res.data.measureType.split(',') : []
    Object.assign(form, res.data, { measureType })
  })
})


</script>
<style scoped>
:deep(.el-form-item) {
  margin-bottom: 18px !important;
}

:deep(.el-form-item .el-form-item) {
  margin-bottom: 0px !important;
}
</style>