<template>
  <div class="w-full h-full">
    <Table :columns="columns" :data="tableList" :operation="false">
      <template #urls="{ row }">
        <div>
          <el-button v-if="row.urls" type="primary" link>查看</el-button>
          <span v-else>-</span>
        </div>
      </template>
      <template #measureType="{ row }">
        <span>{{ cs(row.measureType) }}</span>
      </template>
      <template #auditStatus="{ row }">
        <span>{{ STATUS_TYPE_OBJ[row['auditStatus']] }}</span>
      </template>
    </Table>
  </div>
</template>
<script setup>
import Table from '../../../components/table/index.vue'
import { listApplyQuery } from '@/api/listManage'
import { MEASURE_TYPE, STATUS_TYPE_OBJ } from '@/constant/common'

const tableList = ref([])
const columns = [
  { label: '费用细目', prop: 'nodeName' },
  { label: '费用名称', prop: 'name' },
  { label: '最低指导价', prop: 'minPrice' },
  { label: '最高指导价', prop: 'maxPrice' },
  { label: '计量单位', prop: 'unitMeasure' },
  { label: '计量方式', prop: 'measureType', width: 250, slot: true },  //1.清单单价计量2.据实计量3.总价包干(可多选)
  { label: '示意图', prop: 'urls', slot: true },
  { label: '备注', prop: 'remark' },
  { label: '状态', prop: 'auditStatus', slot: true },
  { label: '提交人', prop: 'createName' },
  { label: '提交时间', prop: 'createTime' },
  { label: '审核人', prop: 'auditName' },
  { label: '审核时间', prop: 'auditTime' },
]

const cs = (value) => {
  if (typeof value == 'string') {
    let matchedElements = [];
    let stringArray = value.split(',')
    for (let i = 0; i < stringArray.length; i++) {
      for (let j = 0; j < MEASURE_TYPE.length; j++) {
        if (stringArray[i] == MEASURE_TYPE[j].value) {
          matchedElements.push(MEASURE_TYPE[j].label);
          // 如果找到匹配的就立即跳出内层循环，避免重复匹配
          break;
        }
      }
    }
    return matchedElements.join(',')
    // let commonElements = MEASURE_TYPE.filter(item => value.split().includes(item.value));
  }
}

const data = ref([
  { name1: '123', name2: '123', name3: '123', name4: '123', name5: '123' }
])

const initTable = () => {
  const data = {
    page: 1,
    size: 10,
    status: '3',
    orgId: '',
    projectId: '1234567890',
    name: ''
  }
  listApplyQuery(data).then(res => {
    tableList.value = res.data
  })
}

const add = () => {
  data.value.push({ name1: '', name2: '', name3: '', name4: '', name5: '' })
}

defineExpose({ initTable })

onMounted(() => {
  initTable()
})
</script>
<style scoped>
:deep(.is-active) {
  background: #F2F2F2;
  color: unset;
}

:deep(.el-tabs__item:hover) {
  color: unset;
}

:deep(.el-input__wrapper) {
  background-color: unset !important;
  border: unset !important;
  box-shadow: unset !important;
}

:deep(.is-focus) {
  border: unset !important;
  box-shadow: unset !important;
}

:deep(.el-input .el-input--large) {
  border: unset !important;
}

:deep(.el-table__cell) {
  padding: unset !important;
}

:deep(.el-table__header) {
  height: 40px;
}

:deep(.el-table__row) {
  height: 40px !important
}
</style>