<template>
  <div class="w-full h-full">
    <Table :columns="columns" :data="tableList" :operation="false" type="selection" @selection-change="handleSelectionChange">
      <template #minPrice="{ row }">
        <div>
          <el-input-number v-model="row.minPrice" :controls="false" :min="0" :max="row.maxPrice ? row.maxPrice : 9999999" placeholder="最低指导价" />
        </div>
      </template>
      <template #maxPrice="{ row }">
        <div>
          <el-input-number v-model="row.maxPrice" :controls="false" :min="row.minPrice" placeholder="最高指导价" />
        </div>
      </template>
      <template #measureType="{ row }">
        <div>
          <el-select v-model="row.measureType" placeholder="请选择计量方式" multiple collapse-tags>
            <el-option v-for="item in MEASURE_TYPE" :key="item.value" :label="item.label" :value="item.value" />
          </el-select>
        </div>
      </template>
      <template #fileIds="{ row, column, index }">
        <div>
          <el-button v-if="row.urls" type="primary" link>查看</el-button>
          <span v-else>-</span>
        </div>
      </template>
      <template #operation="{ row, column, index }">
        <div>
          <el-button type="danger" link>删除</el-button>
        </div>
      </template>
    </Table>
  </div>
</template>
<script setup>
import Table from '../../../components/table/index.vue'
import { listApplyQuery } from '@/api/listManage'
import { MEASURE_TYPE } from '@/constant/common'


const tableList = ref([])
const selectionList = ref([])
const columns = [
  { label: '*费用细目', prop: 'nodeName' },
  { label: '*费用名称', prop: 'name' },
  { label: '*最低指导价', prop: 'minPrice', width: 120, slot: true },
  { label: '*最高指导价', prop: 'maxPrice', width: 120, slot: true },
  { label: '*计量单位', prop: 'unitMeasure', width: 100 },
  { label: '*计量方式', prop: 'measureType', slot: true },
  { label: '示意图', prop: 'fileIds', width: 100, slot: true },
  { label: '规格或执行标准', prop: 'remark' },
  // { label: '提交人', prop: 'name9', slot: true },
  // { label: '提交时间', prop: 'name10', slot: true },
]

const initTable = () => {
  const data = {
    page: 1,
    size: 10,
    status: '2',
    orgId: '',
    projectId: '1234567890',
    name: ''
  }
  listApplyQuery(data).then(res => {
    tableList.value = res.data
  })
}

const handleSelectionChange = (val) => {
  // debugger
  selectionList.value = val
  // selectionList.value = val.map(res => {
  //   return {
  //     safeListAuditId: res.id,
  //     minPrice: res.minPrice,
  //     maxPrice: res.maxPrice,
  //     unitMeasure: res.unitMeasure,
  //     measureType: res.measureType,
  //     auditStatus: '3'
  //   }
  // })
}

defineExpose({ selectionList, initTable })

onMounted(() => {
  initTable()
})
</script>
<style scoped>
:deep(.is-active) {
  background: #F2F2F2;
  color: unset;
}

:deep(.el-tabs__item:hover) {
  color: unset;
}

:deep(.el-input__wrapper) {
  background-color: unset !important;
  border: unset !important;
  box-shadow: unset !important;
}

:deep(.is-focus) {
  border: unset !important;
  box-shadow: unset !important;
}

:deep(.el-input .el-input--large) {
  border: unset !important;
}

:deep(.el-table__cell) {
  padding: unset !important;
}

:deep(.el-table__header) {
  height: 40px;
}

:deep(.el-table__row) {
  height: 40px !important
}
</style>