<template>
  <div class="w-full h-full">
    <el-tabs v-model="activeName" type="card" class="demo-tabs">
      <el-tab-pane label="待审核" name="first">
        <ExpenseDetailApprovalAudit v-if="activeName == 'first'" ref="expenseDetailApprovalAuditRef" />
      </el-tab-pane>
      <el-tab-pane label="已审核" name="second">
        <ExpenseDetailApprovalAudited v-if="activeName == 'second'" ref="expenseDetailApprovalAuditedRef" />
      </el-tab-pane>
    </el-tabs>

    <!-- 驳回申请 -->
    <el-dialog v-model="rejectExpenseDetailApprovalDialogVisible" title="驳回申请" width="20%" :close-on-click-modal="false" @closed="rejectContent = ''">
      <div class="w-full">
        <!-- <RejectExpenseDetailApproval ref="rejectExpenseDetailApprovalRef" /> -->
        <el-input v-model="rejectContent" :rows="7" type="textarea" placeholder="请输入驳回理由" show-word-limit :maxlength="500" />
      </div>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="rejectExpenseDetailApprovalDialogVisible = false">返回</el-button>
          <el-button type="primary" @click="submitRejectExpenseDetailApproval">确认</el-button>
        </span>
      </template>
    </el-dialog>
  </div>
</template>
<script setup>
import ExpenseDetailApprovalAudit from './expenseDetailApprovalAudit.vue'
import ExpenseDetailApprovalAudited from './expenseDetailApprovalAudited.vue'
import messageBox from '../../../utils/messageBox'
import { listApplyAudit } from '@/api/listManage'

const activeName = ref('first')
const rejectContent = ref('')
const expenseDetailApprovalAuditRef = ref(null)
const expenseDetailApprovalAuditedRef = ref(null)
// const rejectExpenseDetailApprovalRef = ref(null)

const rejectExpenseDetailApprovalDialogVisible = ref(false)

const checkNonEmpty = (obj) => {
  return obj.minPrice && obj.maxPrice && obj.measureType;
}

const submit = () => {
  const data = expenseDetailApprovalAuditRef.value.selectionList.map(res => {
    return {
      safeListAuditId: res.id,
      minPrice: res.minPrice,
      maxPrice: res.maxPrice,
      unitMeasure: res.unitMeasure,
      measureType: res.measureType.join(','),
      auditStatus: '3'
    }
  })
  if (data.length == 0) {
    messageBox.alert('请至少添加一笔数据', 'warning')
  } else if (!data.every(checkNonEmpty)) {
    messageBox.alert('请完善信息', 'warning')
  } else {
    listApplyAudit(data).then(res => {
      messageBox.alert(res.msg, 'success')
      expenseDetailApprovalAuditRef.value.initTable()
    })
  }
}

const onHandleRejectExpenseDetailApproval = () => {
  const data = expenseDetailApprovalAuditRef.value.selectionList
  if (data.length == 0) {
    messageBox.alert('请至少添加一笔数据', 'warning')
  } else {
    rejectExpenseDetailApprovalDialogVisible.value = true
  }
}

const submitRejectExpenseDetailApproval = () => {
  const data = expenseDetailApprovalAuditRef.value.selectionList.map(res => {
    return {
      safeListAuditId: res.id,
      unitMeasure: res.unitMeasure,
      auditStatus: '4',
      refuseContent: rejectContent.value
    }
  })
  listApplyAudit(data).then(res => {
    messageBox.alert(res.msg, 'success')
    rejectExpenseDetailApprovalDialogVisible.value = false
    expenseDetailApprovalAuditRef.value.initTable()
  })
}

const rejectSubmit = () => {
  const data = expenseDetailApprovalAuditRef.value.selectionList.map(res => {
    return {
      safeListAuditId: res.id,
      unitMeasure: res.unitMeasure,
      auditStatus: '4',
      refuseContent: val
    }
  })
  if (data.length == 0) {
    messageBox.alert('请至少添加一笔数据', 'warning')
  } else {
    // listApplyAudit(data).then(res => {
    //   messageBox.alert(res.msg, 'success')
    //   expenseDetailApprovalAuditRef.value.initTable()
    // })
  }
}

defineExpose({ activeName, submit, rejectSubmit, onHandleRejectExpenseDetailApproval })
</script>
<style scoped>
:deep(.is-active) {
  background: #F2F2F2;
  color: unset;
}
</style>