<template>
  <div class="customScroll w-full h-full" style="overflow-x: overlay;">
    <table id="process-demo-1" class="tb tb-b c-100 c-t-center" :class="tableList.length == 0 ? 'w-full' : 'w-[130%]'">
      <thead class="text-[#999]">
        <tr>
          <th class="w-[2%]">
            <el-checkbox v-model="checkedAll" :indeterminate="indeterminate" @change="handleCheckAllChange"></el-checkbox>
          </th>
          <th v-for="(head, index) in headList" :key="index" :class="as(head.column) ? 'w-[10%]' : head.column == 'name' ? 'w-[10%]' : head.column == 'remark' ? 'w-[8%]' : 'w-[5%]'">
            <div v-if="as(head.column)" class="flex justify-between items-center px-4">
              <span>{{ head.name }}</span>
              <div class="ml-1 flex cursor-pointer">
                <Hide class="w-4 mr-1" />
                <span>隐藏目录</span>
              </div>
            </div>
            <span v-else>{{ head.name }}</span>
          </th>
          <th class="w-[5%]">操作</th>
        </tr>
      </thead>
      <tbody class="text-[#666]">
        <tr v-for="(item, index) in tableList" :key="index">
          <td>
            <el-checkbox :model-value="checkedList.includes(item.id)" @change="handleCheckChange($event, item)"></el-checkbox>
          </td>
          <td v-for="(m, index) in headList">
            <div class="px-5 py-1" v-if="as(m.column)">
              {{ item[m.column] }}<span class="text-[#409EFF] cursor-pointer">【新增明细】</span>
              <!-- <p class="w-[200px] truncate"></p>
              <p></p> -->
            </div>
            <span v-else-if="m.column == 'price'">{{ item.minPrice.toFixed(2) }}-{{ item.maxPrice.toFixed(2) }}</span>
            <span v-else-if="m.column == 'urls'">
              <el-button type="primary" link>查看</el-button>
            </span>
            <span v-else>{{ item[m.column] }}</span>
          </td>
          <td>
            <el-button type="primary" link @click="editExpenseDetailDialogVisible = true">编辑</el-button>
            <el-button type="danger" link>删除</el-button>
          </td>
        </tr>
      </tbody>
    </table>
    <el-empty description="暂无数据" />
    <!-- 编辑费用明细 -->
    <el-dialog v-model="editExpenseDetailDialogVisible" title="编辑费用明细" width="30%" :close-on-click-modal="false" :destroy-on-close="true">
      <div class="w-full">
        <EditExpenseDetail />
      </div>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="editExpenseDetailDialogVisible = false">关闭</el-button>
          <el-button type="primary">保存</el-button>
        </span>
      </template>
    </el-dialog>
  </div>
</template>
<script setup>
import EditExpenseDetail from '../components/editExpenseDetail.vue'
import { listCostQuery } from '../../../api/listManage'

const page = ref(1)
const size = ref(10)
const headNameList = ['firstName', 'twoName', 'threeName', 'fourName', 'fiveName']
const checkedList = ref([])
const headList = ref([])
const tableList = ref([])
const showName = ref(true)
const editExpenseDetailDialogVisible = ref(false)
const checkedAll = computed(() => tableList.value.length > 0 && checkedList.value.length == tableList.value.length)
const indeterminate = computed(() => checkedList.value.length > 0 && checkedList.value.length != tableList.value.length)

const as = (column) => {
  return headNameList.includes(column)
}

// 全选
const handleCheckAllChange = (val) => {
  if (val) {
    checkedList.value = tableList.value.map(res => { return res.id })
  } else {
    checkedList.value = []
  }
}

// 单选
const handleCheckChange = (val, item) => {
  if (val) {
    checkedList.value.push(item.id)
  } else {
    checkedList.value = checkedList.value.filter(res => { return res != item.id })
  }
}
//获取列表
const getListCostQuery = (formParams) => {
  const pageParams = {
    page: page.value,
    size: size.value,
    projectId: '1234567890'
  }
  const data = { ...pageParams, ...formParams }
  listCostQuery(data).then(res => {
    headList.value = res.rows
    tableList.value = res.data

    //计算出哪些列需要合并，只有是目录层级的才需要合并
    let cols = []
    headList.value.filter(x => { return x.level }).forEach((y, i) => {
      cols.push(i + 1)
    })

    // setTimeout(() => {
    //   $("#process-demo-1").tablesMergeCell({
    //     cols,
    //   });
    // }, 1)

  })
}

defineExpose({ showName, getListCostQuery })

onMounted(() => {
  getListCostQuery()

})
</script>
<style scoped>
th {
  padding: 8px 5px;
  border: 1px solid #ddd;
  border-bottom: unset;
  background: #F4F5F6;
  font-size: 14px;
}

td {
  text-align: center;
  padding: 6px 5px;
  border: 1px solid #ddd;
  font-size: 14px;
}
</style>