<template>
  <div class="customScroll w-full h-full">
    <el-table :data="tableList" border header-cell-class-name="w-full !bg-[#EFF3F7]" @selection-change="handleSelectionChange">
      <el-table-column type="selection" align="center" width="60"></el-table-column>
      <el-table-column v-for="head in  headList " :key="head.column" align="center" :prop="head.column" :label="head.name" :width="filterWidth(head.column)">
        <template #default="{ row, column, $index }">
          <div v-if="as(head.column)">
            <span>{{ row[head.column] }}</span>
            <!-- <span v-if="bs(row)" class="text-[#409EFF] cursor-pointer">【新增明细】</span> -->
          </div>
          <span v-else-if="head.column == 'price'">{{ row.minPrice.toFixed(2) }}-{{ row.maxPrice.toFixed(2) }}</span>
          <span v-else-if="head.column == 'measureType'">{{ cs(row.measureType) }}</span>
          <span v-else-if="head.column == 'urls'">
            <el-button v-if="row.urls" type="primary" link>查看</el-button>
            <span v-else>-</span>
          </span>
          <span v-else>{{ row[head.column] }}</span>
        </template>
        <template #header="{ column, $index }">
          <div v-if="as(head.column)" class="flex justify-between">
            <span>{{ head.name }}</span>
            <div class="ml-1 flex cursor-pointer" @click="hideDirectory(head.level)">
              <Hide class="w-4 mr-1" />
              <span>隐藏目录</span>
            </div>
          </div>
          <span v-else>{{ head.name }}</span>
        </template>
      </el-table-column>

      <el-table-column fixed="right" align="center" label="操作" width="150">
        <template #default="{ row }">
          <el-button type="primary" link @click="updateId = row.id; editExpenseDetailDialogVisible = true">编辑</el-button>
          <el-button type="danger" link @click="remove(row.id)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>

    <!-- <el-empty description="暂无数据" /> -->

    <!-- 编辑费用明细 -->
    <el-dialog v-model="editExpenseDetailDialogVisible" title="编辑费用明细" width="30%" :close-on-click-modal="false" :destroy-on-close="true">
      <div class="w-full">
        <EditExpenseDetail ref="updateRef" :updateId="updateId" @successCallback="successCallback" />
      </div>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="editExpenseDetailDialogVisible = false">关闭</el-button>
          <el-button type="primary" @click="onHandleSubmit">保存</el-button>
        </span>
      </template>
    </el-dialog>
  </div>
</template>
<script setup>
import EditExpenseDetail from '../components/editExpenseDetail.vue'
import { listCostQuery, listCostDelete, listHideUpdate } from '../../../api/listManage'
import messageBox from '@/utils/messageBox'
import { MEASURE_TYPE } from '@/constant/common'

const page = ref(1)
const size = ref(10)
const updateId = ref(null)
const headNameList = ['firstName', 'twoName', 'threeName', 'fourName', 'fiveName']
const checkedList = ref([])
const headList = ref([])
const tableList = ref([])
const showName = ref(true)
const updateRef = ref(null)
const editExpenseDetailDialogVisible = ref(false)
const selectionList = ref([])

// const checkedAll = computed(() => tableList.value.length > 0 && checkedList.value.length == tableList.value.length)
// const indeterminate = computed(() => checkedList.value.length > 0 && checkedList.value.length != tableList.value.length)

const as = (column) => {
  return headNameList.includes(column)
}

const bs = (row) => {
  for (let index = 0; index < headNameList.length; index++) {
    if (!row[headNameList[index]]) {
      return true
    }
  }
}

const cs = (value) => {
  if (typeof value == 'string') {
    let matchedElements = [];
    let stringArray = value.split(',')
    for (let i = 0; i < stringArray.length; i++) {
      for (let j = 0; j < MEASURE_TYPE.length; j++) {
        if (stringArray[i] == MEASURE_TYPE[j].value) {
          matchedElements.push(MEASURE_TYPE[j].label);
          // 如果找到匹配的就立即跳出内层循环，避免重复匹配
          break;
        }
      }
    }
    return matchedElements.join(',')
    // let commonElements = MEASURE_TYPE.filter(item => value.split().includes(item.value));
  }
}

const hideDirectory = (level) => {
  const data = {
    projectId: '1234567890',
    userId: '',
    level,
    type: 1
  }
  listHideUpdate(data).then(res => {

  })
}

const filterWidth = (column) => {
  if (headNameList.includes(column) || column == 'measureType') {
    return 250
  } else if (column == 'remark' || column == 'name') {
    return 200
  } else if (column == 'price') {
    return 150
  } else {
    return 100
  }
}

// 全选
const handleCheckAllChange = (val) => {
  if (val) {
    checkedList.value = tableList.value.map(res => { return res.id })
  } else {
    checkedList.value = []
  }
}

// 单选
const handleCheckChange = (val, item) => {
  if (val) {
    checkedList.value.push(item.id)
  } else {
    checkedList.value = checkedList.value.filter(res => { return res != item.id })
  }
}
//获取列表
const getListCostQuery = (formParams) => {
  const pageParams = {
    page: page.value,
    size: size.value,
    projectId: '1234567890'
  }
  const data = { ...pageParams, ...formParams }
  listCostQuery(data).then(res => {
    headList.value = res.rows
    tableList.value = res.data

    //计算出哪些列需要合并，只有是目录层级的才需要合并
    let cols = []
    headList.value.filter(x => { return x.level }).forEach((y, i) => {
      cols.push(i + 1)
    })

    // setTimeout(() => {
    //   $("#process-demo-1").tablesMergeCell({
    //     cols,
    //   });
    // }, 1)

  })
}

//多选
const handleSelectionChange = (val) => {
  selectionList.value = val.map(res => { return res.id })
}

// 删除
const remove = (id) => {
  messageBox.confirm('删除提示', '确认删除当前数据', () => {
    listCostDelete([id]).then(res => {
      messageBox.alert(res.msg, 'success')
      getListCostQuery()
    })
  })
}

const onHandleSubmit = () => {
  updateRef.value.submit()
}

const successCallback = (result) => {
  editExpenseDetailDialogVisible.value = false
  messageBox.alert(result.msg, 'success')
  getListCostQuery()
}

defineExpose({ showName, getListCostQuery, selectionList })


onMounted(() => {
  getListCostQuery()

})
</script>
<style scoped>
th {
  padding: 8px 5px;
  border: 1px solid #ddd;
  border-bottom: unset;
  background: #F4F5F6;
  font-size: 14px;
}

td {
  text-align: center;
  padding: 6px 5px;
  border: 1px solid #ddd;
  font-size: 14px;
}
</style>