<template>
  <el-input v-model="rejectContent" :rows="7" type="textarea" placeholder="请输入驳回理由" show-word-limit :maxlength="500" />
</template>
<script setup>
const rejectContent = ref('')

defineExpose({ rejectContent })
</script>