<template>
  <el-form class="w-full h-full flex items-center" :inline="true" :model="model" ref="formRef">
    <el-form-item label="目录筛选" prop="safeListId">
      <el-tree-select v-model="model.safeListId" :data="treeList" check-strictly filterable clearable :render-after-expand="false" :props="defaultProps" />
    </el-form-item>
    <el-form-item prop="name">
      <el-input v-model="model.name" v-has placeholder="请输入关键词" />
    </el-form-item>
    <el-form-item>
      <el-button type="primary" @click="initTable">查询</el-button>
      <el-button @click="resetForm(formRef)">重置</el-button>
    </el-form-item>
  </el-form>
</template>
<script setup>
import { resetForm } from '@/utils/globalMethods'
import { listQuery } from '../../../api/listManage'

const emit = defineEmits(['initTable'])

const formRef = ref(null)
const treeList = ref([])
const model = reactive({
  safeListId: '',
  name: ''
})
const defaultProps = {
  label: 'name',
  value: 'id'
}

listQuery('1234567890').then(res => {
  treeList.value = res.data
})

const initTable = () => {
  emit('initTable', model)
}


</script>