<template>
  <div>
    <el-input v-model="inputValue" type="text" v-positive-integer />
    <p>{{ inputValue }}</p>
  </div>
</template>

<script setup>
import { dateFormat } from '../utils/globalMethods'
const inputValue = ref(0)
dateFormat(null)
</script>