<template>
  <div class="w-full h-full flex items-center bg-[#ffffff]">
    <!-- <div class="w-6">
      <img src="../assets/logo.svg" alt="">
    </div> -->
    <div>{{ mainText }}</div>
    <div class="ml-10 border-b-3 border-solid border-[#1290fb]">
      <div class="leading-[40px] text-[#1290fb] px-3">{{ subText }}</div>
    </div>
  </div>
</template>
<script setup>
const props = defineProps({
  mainText: {
    type: String,
    default: '安全生产经费数字化计量系统'
  },
  subText: {
    type: String,
    default: ''
  }
})

const mainText = computed(() => props.mainText)
const subText = computed(() => props.subText)
</script>