<template>
    <div class="px-[20px]">
        <div class="pb-[20px] flex items-center justify-between">
            <div>
                <search v-model="unitName" tipstext="单位名称" @refreshName="refreshName"></search>
            </div>
            <div>
                <el-button class="w-26" @click="addSetup()">同步</el-button>
            </div>
        </div>
        <div class="h-[calc(100vh-240px)]">
            <t-table :data="tableData" :columns="cols">
                <!-- 合同价格 -->
                <template #showContractPrice="{ row }">
                    <div>{{ row.showContractPrice }} 亿元</div>
                </template>

                <!-- 开工时间 -->
                <!-- <template #initiateTime="{ row }">
                    <div> {{ dayjs(row.initiateTime).format('YYYY-MM-DD') }}</div>
                </template> -->

                <!-- 预计完成时间 -->
                <!-- <template #predictTime="{ row }">
                    <div> {{ dayjs(row.predictTime).format('YYYY-MM-DD') }}</div>
                </template> -->

                <!-- 取费标准 -->
                <template #priceStandard="{ row }">
                    <div>{{ row.priceStandard }} %</div>
                </template>

                <!-- 安全经费总额 -->
                <template #showTotal="{ row }">
                    <div>{{ row.showTotal }} 亿元</div>
                </template>

                <template #operation="{ row }">
                    <el-button link style="color: #1890FF" @click="setupView(row)">编辑</el-button>
                </template>
            </t-table>
        </div>

        <!--  flex justify-end-->
        <div class="flex justify-end">
            <toagination :total="total" :size="size" :page="page" :pageChange="paginChange" :sizeChange="sizeChange">
            </toagination>
        </div>




        <!-- 编辑的弹框 -->
        <el-dialog v-model="dialgAddEdig" :title="titleHead" width="25%" :before-close="resetSetup">
            <div class="pt-[10px] ">
                <el-form size="default" :model="setupFrom" :rules="setupRules" ref="setupRef">
                    <el-form-item label="单位名称" label-width="120px" prop="name">
                        <el-input v-model="setupFrom.name" autocomplete="off" disabled />
                    </el-form-item>

                    <el-form-item label="标段代码" label-width="120px">
                        <el-input v-model="setupFrom.briefName" autocomplete="off" disabled prop="briefName" />
                    </el-form-item>
                    <el-form-item label="开工时间" label-width="120px" prop="startTime">
                        <el-date-picker value-format="YYYY-MM-DD" v-model="setupFrom.startTime" type="date"
                            placeholder="请选择开工时间" style="width: 100%" />
                    </el-form-item>
                    <el-form-item label="预计完工时间" label-width="120px" prop="planEndTime">
                        <el-date-picker value-format="YYYY-MM-DD" v-model="setupFrom.planEndTime" type="date"
                            placeholder="请选择预计完工开工时间" style="width: 100%" />
                    </el-form-item>
                    <el-form-item label="合同价格" label-width="120px" prop="contractPrice">
                        <el-col :span="20">
                            <el-input @input="goTotalExpense()" placeholder="请输入" v-model="setupFrom.contractPrice"
                                autocomplete="off" type="number" />
                        </el-col>
                        <el-col :span="4">
                            <span class="p-l-[10px]">元</span>
                        </el-col>
                    </el-form-item>

                    <el-form-item label="取费标准" label-width="120px" prop="priceStandard">
                        <el-col :span="20">
                            <el-input @input="goTotalExpense()" placeholder="请输入" v-model="setupFrom.priceStandard"
                                autocomplete="off" type="number" />
                        </el-col>
                        <el-col :span="4">
                            <span class="p-l-[10px]">%</span>
                        </el-col>
                    </el-form-item>

                    <el-form-item label="安全经费总金额" label-width="120px" prop="total">
                        <el-input v-model="setupFrom.total" autocomplete="off" disabled />
                    </el-form-item>
                </el-form>
            </div>



            <template #footer>
                <span class="dialog-footer">
                    <el-button @click="resetSetup()">返回</el-button>
                    <el-button @click="onSubmitSetup()">
                        保存
                    </el-button>
                </span>
            </template>
        </el-dialog>
    </div>
</template>

<script setup>
import tTable from "../../../../components/table/index.vue";
import toagination from '../../../../components/pagination/index.vue'
import search from '../search/index.vue'
import messageBox from "../../../../utils/messageBox";
import { unitList, unitData,unitUpdate } from "../../../../api/setup.js";
import { Search } from '@element-plus/icons-vue'


const dialogVisible_ = ref(false)

const page = ref(1)
const size = ref(10)
const total = ref(0)
const dialgAddEdig = ref(false)
const titleHead = ref('')
const setupRef = ref(null)
const unitName = ref('')
const setupRules = {
    startTime: [
        { type: 'date', required: true, message: '请选择开工时间', trigger: 'change', }
    ],
    planEndTime: [
        { type: 'date', required: true, message: '请选择预计完成时间', trigger: 'change', }
    ],
    contractPrice: [
        { required: true, message: '请输入合同价格', trigger: 'change', }
    ],
    priceStandard: [
        { required: true, message: '请输入取费标准', trigger: 'change', }
    ],

}
let setupFrom = ref({
    name: '',
    briefName: '',
    startTime: '',
    planEndTime: '',
    contractPrice: 0,
    priceStandard: 0,
    total: 0
})
// 基础信息
const cols = [
    {
        label: '单位名称',
        prop: 'name'
    },
    {
        label: '标段简称',
        prop: 'briefName'
    },
    {
        label: '开工时间',
        prop: 'startTime',
    },
    {
        label: '预计完成时间',
        prop: 'planEndTime',
    },
    {
        label: '合同价',
        prop: 'showContractPrice',
        width: "200",
        slot: true
    },
    {
        label: '取费标准',
        prop: 'priceStandard',
        slot: true
    },
    {
        label: '安全经费总额',
        prop: 'showTotal',
        slot: true
    }
]

const tableData = ref([])



onMounted(() => {
    tableDatalist()

})



// 列表接口
const tableDatalist = () => {

    let obj = {
        page: page.value, //页数
        size: size.value, //每页数量
        projectId: "1234567890", //项目id
        name: unitName.value, //单位名称
        startTime: "", //开工时间
        planEndTime: "" //预计完工时间
    }

    unitList(obj).then(res => {
        tableData.value = res.data
        total.value = res.total
    })
}

// 编辑事件 掉详情接口进行渲染
const setupView = (row) => {
    // setupFrom = tableData.value[0]
    //   console.log(setupFrom);
    //     titleHead.value = '编辑'
    dialgAddEdig.value = true
    unitData({id:row.id}).then(res => {
        setupFrom.value = res.data
    })


}

// 同步按钮事件
const addSetup = () => {

    titleHead.value = "同步"
}

// 保存
const onSubmitSetup = () => {
    setupRef.value.validate((valid) => {
        if (valid) {
            // 点击提交
            unitUpdate(setupFrom.value).then(res=>{
                resetSetup()
                messageBox.alert(res.msg,'success')
            })

        } else {
            console.log('error submit!')
            return false
        }
    })
}
// 清空表单
const resetSetup = () => {
    setupRef.value.resetFields()
    dialgAddEdig.value = false
}

// 计算安全经费总金额
const goTotalExpense = () => {

    let priceStandard = setupFrom.value.priceStandard / 100 //取费标准
    setupFrom.value.total = (setupFrom.value.contractPrice * priceStandard).toFixed(2)


}

// 基础信息搜索=
const refreshName = (unitName_) => {
    unitName.value = unitName_
    tableDatalist()
}


// 分页事件
const paginChange = (page_) => {

    page.value = page_
    tableDatalist()

}

const sizeChange = (size_) => {

    size.value = size_
    page.value = 1
    tableDatalist()
}




</script>

<style scoped>
.el-form-item {
    margin-bottom: 18px;
}
</style>
