<template>
    <div class="w-full h-full flex">
        <el-input v-model="unitName" class="w-65 mr-[10px]" :placeholder="tipstext">
            <template #append>
                <el-button :icon="Search" @click="refreshName" />
            </template>
        </el-input>
        <el-button v-show="refreshLeft" :icon="RefreshLeft" @click="setupReset" />
    </div>
</template>

<script setup>
import { Search, RefreshLeft } from '@element-plus/icons-vue'
import { computed } from "vue";
import props_ from "./props";
const props = defineProps(props_)
const unitName = ref('')
const tipstext = computed(()=> props.tipstext)
const refreshLeft = computed(()=> props.refreshLeft)
const emit = defineEmits(['refreshName','setupReset','roleRefreshName','bindSearch'])
const refreshName = (val) => {
  emit('refreshName', unitName.value)
}
const setupReset = (val) => {
    unitName.value = ''
    emit('refreshName', unitName.value)
}

// 角色管理的的搜索
const roleRefreshName = ()=>{
    emit('roleRefreshName', unitName.value)
}

// 角色绑定的搜索
const bindSearch =() =>{
    emit('bindSearch',unitName.value)
}
</script>

<style></style>
