<template>
    <div class=" w-[100%] h-[100vh] bg-[#eef0f5]">
        <div class="w-full h-[42px]">

            <Head subText="安全经费设置" />
        </div>

        <div class="h-[calc(100vh-42px)]  p-[10px]">
            <div class="w-full h-full bg-white">
                <div class="p-[15PX]">
                    <el-tabs v-model="activeIndex" class="demo-tabs" @tab-change="handleClick">
                        <el-tab-pane name="1">
                            <template #label>
                                <div class="px-[20px]">
                                    基础信息
                                </div>

                            </template>
                        </el-tab-pane>
                        <el-tab-pane name="2">
                            <template #label>
                                <div class="px-[20px]">
                                    角色管理
                                </div>
                            </template>
                        </el-tab-pane>
                        <el-tab-pane name="3">
                            <template #label>
                                <div class="px-[20px]">
                                    预警设置
                                </div>

                            </template>
                        </el-tab-pane>

                    </el-tabs>
                </div>

                <!-- 内容 -->
                <component :is="activeIndex=='1'? basics : activeIndex=='2'? role : forewarning"></component>
            </div>
        </div>





    </div>
</template>

<script setup>
import basics from "@/pages/securityFundSetup/components/basics/basiceIndex.vue";//基础信息
import role from './components/role/roleIndex.vue'//角色
import forewarning from './components/forewarning/forewarningindex.vue'//预警设置
import Head from '../../components/head.vue'

// const comId= markRaw(basics)
const activeIndex = ref('1')

onMounted(() => {
    // timeConvert()
})




const handleClick = (e) => {
    // console.info('🚀 ~ log: activeIndex.value----->',activeIndex.value);

}






</script>

<style scoped>
.setup_box {
    width: 100%;
    height: 100vh;
    border: 1px rgb(221, 38, 38) solid;
    background-color: #eef0f5;
}

:deep(.el-tabs__item) {
    padding: 0px;
}

/* .setup_head——box{
    height: 42px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    padding: 0 0 0px 10px;
    border: 1px #0ee214 solid;
} */
.setup_head {
    width: 270px;
}


</style>
