<template>
  <el-table :data="data" border header-cell-class-name="w-full !bg-[#EFF3F7]">
    <el-table-column v-if="type" :type="type" align="center" width="60"></el-table-column>
    <!-- <el-table-column v-if="serial" label="序号" align="center" width="60">
        <template #default="{ $index }">
          <slot>{{ $index + 1 }}</slot>
        </template>
      </el-table-column> -->
    <el-table-column v-for="( col, index ) in columns" :key="index" :prop="col.prop" :label="col.label" :width="col.width" align="center">
      <template #default="{ row, column, $index }">
        <slot v-if="col.slot" :name="col.prop" :row="row" :column="column" :index="$index"></slot>
      </template>
    </el-table-column>

    <el-table-column v-if="operation" label="操作" align="center" min-width="40">
      <template #default="{ row, column, $index }">
        <slot name="operation" :row="row" :column="column" :index="$index"></slot>
      </template>
    </el-table-column>
  </el-table>
</template>
<script setup>
import { computed } from 'vue'
import props_ from './props'

const props = defineProps(props_)
const columns = computed(() => props.columns)
const data = computed(() => props.data)
const type = computed(() => props.type)
const operation = computed(() => props.operation)

</script>