.customScroll::-webkit-scrollbar {
  /* 滚动条样式 */
  width: 3px;
  height: 7px;
}

.customScroll::-webkit-scrollbar-track {
  /* 滚动条轨道样式 */
  background: #f8f8f8;
  border-radius: 4px;
}

.customScroll::-webkit-scrollbar-thumb {
  /* 滚动条手柄样式 */
  background: #ddd;
  border-radius: 4px;
}
