.el-form-item {
  margin: unset;
}

.el-table__header {
  height: 50px;
}

.el-table__row {
  height: 45px;
}

.el-dialog__body {
  padding: 10px;
}

.el-button:focus {
  color: var(--el-button-text-color);
  background-color: var(--el-button-bg-color);
  border-color: var(--el-button-border-color);
}

.el-button:hover {
  color: var(--el-button-hover-text-color);
  border-color: var(--el-button-hover-border-color);
  background-color: var(--el-button-hover-bg-color);
  outline: 0;
}
