<template>
  <li>
    <i class="i-carbon-asleep"></i>
    <div>
      <div class="flex py -[10px]" @click="showDialog">
        <!-- <em v-if="data.children" @click="toggle" class="icon"><i class="iconfont text-[#F6B931]" :class="open ? 'iconshouqi1' : 'iconzhankai'"></i></em> -->
        <img v-if="data.children" class="w-[20px]" src="../../assets/folder.png" alt="">
        <span class="ml-1">{{ data.name }}</span>
      </div>
    </div>
    <ul v-show="open" class="pl-6">
      <tree-item v-for="(item, index) in data.children" :data="item" :key="index"></tree-item>
    </ul>
  </li>
</template>
<script setup>

defineOptions({
  name: "tree-item"
})

const props = defineProps(['data'])

const open = ref(false)

const tree = inject('RootTree')

const data = computed(() => props.data)

const toggle = () => {
  open.value = !open.value
}

const showDialog = () => {
  if (data.value.children) {
    toggle()
  } else {
    tree.ctx.emit('node-click', data.value)
  }
}
</script>