<template>
  <div>
    <ul v-for="item in data">
      <TreeItem :data="item"></TreeItem>
    </ul>
  </div>
</template>
<script setup>
import { provide, getCurrentInstance } from "vue"
import TreeItem from './treeItem.vue'

const props = defineProps(['data'])
const emit = defineEmits(['node-click'])

provide('RootTree', {
  ctx: getCurrentInstance()
})
</script>